[submodule "themes/landscape"]
	path = themes/landscape
	url = git@github.com:shankerwangmiao/hexo-theme-landscape.git
[submodule "source"]
	path = source
	url = git@github.com:shankerwangmiao/blog.git
